@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="@Url.Action("Edit", "ProfilePictures")">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Change Profile Picture
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
            </a>
        </div>
    }
}

